.tools-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
max-width:1000px;
margin:40px auto;
}

.tool-box{
background:#0f1f1b;
border:2px solid #d69b18;
border-radius:12px;
padding:20px;
text-align:left;
transition:all .2s ease;
}

.tool-box:hover{
transform:translateY(-5px);
background:#142a24;
}

.tool-box h3{
margin-top:0;
color:#f1b733;
}

.tool-box p{
font-size:14px;
line-height:1.4;
color:#d6d6d6;
}

.tool-box a{
display:inline-block;
margin-top:10px;
padding:6px 12px;
background:#d69b18;
color:black;
text-decoration:none;
border-radius:6px;
font-size:13px;
}

.tool-box a:hover{
background:#f1b733;
}
.vpn-recommend {
  margin-top: 18px;
  background: #001b18;
  border: 2px solid #d69b18;
  border-radius: 14px;
  padding: 14px;
}

.vpn-recommend a {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.vpn-recommend img {
  height: 40px;
}

.vpn-text {
  color: #f5f5f5;
  font-size: 14px;
}

.vpn-text strong {
  color: #f1b733;
}
